/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #86e5f4;
    color: #333;

    /* Background Image Properties */
    background-image: url('explore.jpg');
    /* background-color: transparent;
    filter: blur(8px);
   -webkit-filter: blur(8px); */
    background-size: cover;       /* Ensures the image covers the entire screen */
    background-position: center;  /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating */
    
    /* Creating transparency for the background image */
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('explore2.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.6; /* 60% visibility */
    z-index: -1;  /* Ensure it stays in the background */
}


/* Container for content */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header Styles */
header {
    background-color: #0ae6bef8;
    padding: 20px 0;
    
    top: 0;
    z-index: 1000;
    box-shadow: 0 12px 8px rgba(0, 0, 0, 0.9);
}

header h1 {
    color: #ffffff;
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
}

nav a:hover {
    color: #ff9d0a;
}

/* Explore Section */
.explore-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 40px;
    max-width: 1100px;
    margin: 0 auto;
}

.explore-item {
    background-color: #f8f2f9e7;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;

}

.explore-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.explore-item img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 190px;
    object-fit: inherit;
}

.explore-item h2 {
    font-size: 1.8rem;
    color: black;
    margin: 20px 0;
    padding: 0 10px;
}
.explore-item a{
    text-decoration: none;
}


/* Coming Soon Section */
.coming-soon {
    background-color: #b9dff6;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.coming-soon h2 {
    font-size: 1.8rem;
}

.coming-soon p {
    font-size: 1.1rem;
}

/* Footer Styles */
footer {
    background-color: #000406;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

footer .social-media a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

footer .social-media a:hover {
    color: #fcd303;
}
