/* forgot-password.css */

/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   background-image: url("logbg.jpg");
   background-size: cover;
}

header {
    background-color: #004b49;
    color: #fff;
    padding: 15px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar .logo h1 {
    margin: 0;
    font-size: 2em;
}

.navbar nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.navbar nav a:hover {
    text-decoration: underline;
}

.forgot-password-section {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.forgot-password-section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #004b49;
}

.forgot-password-section form {
    display: flex;
    flex-direction: column;
}

.forgot-password-section label {
    margin-bottom: 5px;
    color: #333;
}

.forgot-password-section input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.forgot-password-section button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.forgot-password-section button:hover {
    background-color: #0056b3;
}
